<%- include('../layouts/layout') -%>

<main>
  <h1>Add Classification</h1>
  <% if (message && message.length) { %>
    <div class="notice"><%= message %></div>
  <% } %>
  <% if (errors && errors.length) { %>
    <ul class="errors">
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>
  <form action="/inv/add-classification" method="POST" id="addClassificationForm">
    <label for="classification_name">Classification Name:</label>
    <input type="text" id="classification_name" name="classification_name" required pattern="^[A-Za-z0-9]+$" title="No spaces or special characters allowed">
    <button type="submit">Add Classification</button>
  </form>
  <script src="/js/script.js"></script>
</main>
