<!-- The Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message block -->
<% if (message && message.length) { %>
    <div class="notice"><%= message %></div>
<% } %>
<% if (errors && errors.length) { %>
    <ul class="errors">
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }); %>
    </ul>
<% } %>

<!-- Inventory Display Items -->
<%- grid %>
