<div class="error-container">
    <div class="error-icon crash-dummy">
        <img src="/images/site/crash-test-dummy.svg" alt="Crash test dummy icon" class="crash-dummy-svg">
    </div>
    
    <% if (title) { %>
    <h1 class="error-title">Error <%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <% if (message) { %>
    <p class="error-message"><%= message %></p>
    <% } %>
    
    <div class="error-actions">
        <a href="/" class="btn-primary">Go Home</a>
        <a href="javascript:history.back()" class="btn-secondary">Go Back</a>
    </div>
</div>
