<!-- The Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message block -->
<%# messages() %>

<!-- Error Message -->
<% if (message) { %>
<p><%= message %></p>
<% } %>
